article {
    min-width: 100%;
    margin: 20px 0;
    padding-top: 20px;
    background-color: #f9f9f978;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-radius: 12px;

    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);


    h3 {
        font-size: 1.2em;
        font-weight: bold;
        text-align: left;
        padding: 0 0 20px 20px;
        color: #333;
    }

    a {
        display: flex;
        align-items: center;
        color: #333;
        text-decoration: none;
        cursor: pointer;

        
        img {
            height: auto;
            margin: 0 10px 0 20px;
            border-radius: 12px 50px 50px 50px;
            border: 1px solid #e5e5e5;

            box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
            -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
        }

        span {
            font-weight: bold;
            color: #333;

            text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        }
    }

    p {
        color: $color-font;
    }

    .reponse {
        display: flex;
        justify-content: right;
        margin: 0 20px 10px 0;
        padding: 2px;
        transform: rotateX(3.142rad);
        /* Legacy vendor prefixes that you probably don't need... */
        -webkit-transform: rotateX(3.142rad);/* Safari */
        -moz-transform: rotateX(3.142rad);/* Firefox */
        -ms-transform: rotateX(3.142rad);/* IE */
        -o-transform: rotateX(3.142rad); /* Opera */
        transition: transform 0.6s ease-out;
        cursor: pointer;
    }

    .reponse:hover {
        transform: rotateX(0);
        /* Legacy vendor prefixes that you probably don't need... */
        -webkit-transform: rotateX(0); /* Safari */
        -moz-transform: rotateX(0); /* Firefox */
        -ms-transform: rotateX(0); /* IE */
        -o-transform: rotateX(0); /* Opera */
        transition: transform 0.3s ease-out;
    }


    .footer-post {
        flex-shrink: 0;
        width: 100%;
        border-top: 1px dashed $color-black;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        background: $color-primary-gradient;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content:space-evenly;
        align-items: flex-start;
        font-size: $size-link;

        p {
            margin: 0;
            padding: 5px 0;
            color: $color-font-dark;
        }
    }
}