html {
    scroll-behavior: smooth;

    font: {
        family: $font-family;
        weight: 400;
        style: normal;
        size: $font-size-global;
    }
    background: $color-bg;
    color: $color-font;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}