// ========================================================================
// Root
// ========================================================================
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


// ========================================================================
// HTML5 display-role reset for older browsers
// ========================================================================
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i, em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

h1 { 
    font-size: $font-size-xl; 
    font-weight: $font-weight-ber;
}


// ========================================================================
// Selectors
// ========================================================================
::selection {
    color: $color-black;
    background: $color-white;
}
::-moz-selection {
    color: $color-black;
    background: $color-white;
}
::-webkit-selection {
    color: $color-black;
    background: $color-white;
}