// ========================================================================
// Colors
// ========================================================================
$color-primary: rgb(8, 16, 44) !default; // background color (60%)
$color-secondary: rgb(31, 78, 121) !default; // (30%)
$color-tertiary: rgb(200, 151, 28) !default; // (10%)
$color-quaternary: rgb(228, 188, 86) !default; // hover color (>1%)
$color-white: rgb(255, 255, 240) !default;
$color-black: rgb(7,7,7) !default;

$color-font-title: $color-white !default;
$color-font-p: rgb(200, 200, 200) !default;
$color-danger: rgb(249, 56, 56) !default;
$color-danger-hover: rgb(255, 97, 97) !default;

$box-shadow-black: 0 2px 6px rgba(0, 0, 0, 0.3);
$box-shadow-white: 0 2px 6px rgba(255, 255, 255, 0.3);
$box-shadow-right: 4px 0px 6px -2px rgba(0, 0, 0, 0.1);


// ========================================================================
// Font - family - sizes
// ========================================================================
$font-family-title: 'Josefin Sans', Arial, Courier, monospace !default;
$font-family-p: 'Noto Sans', Arial, Courier, monospace !default;
$letter-spacing: 0.17em !default;
$line-height: 1.5 !default;

$font-size-global: 100%;
$font-size-s: 1rem !default;
$font-size-m: 1.125rem !default;
$font-size-l: 1.5rem !default;
$font-size-xl: 2rem !default;

$font-weight-n: 200;
$font-weight-b: bold;
$font-weight-ber: bolder;

$size-logo-text: 1.875rem;
$size-logo-text-mq: 1.375rem;
$size-hamburger: 1.56rem;


// ========================================================================
// Breakpoints - Layout
// ========================================================================
$breakpoint-small: 720px !default;
$breakpoint-medium: 960px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xlarge: 1600px !default;

$max-width-s: "screen and (max-width: #{$breakpoint-small})";
$max-width-m: "screen and (max-width: #{$breakpoint-medium})";
$max-width-l: "screen and (max-width: #{$breakpoint-large})";
$max-width-xl: "screen and (max-width: #{$breakpoint-xlarge})";


// ========================================================================
// Border - border-radius
// ========================================================================
$border: 1px solid $color-black !default;
$border-rad: 12px !default;

// ========================================================================
// Animations
// ========================================================================
$transition: .4s ease-out !default;
$rotated: 135deg;