/* Error: Undefined variable.
 *    ,
 * 87 |         background: $color-primary-gradient;
 *    |                     ^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   public/assets/sass/partiels/global/_article.scss 87:21  @import
 *   public/assets/sass/style.scss 27:9                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 87 \2502          background: $color-primary-gradient;\a    \2502                      ^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   public/assets/sass/partiels/global/_article.scss 87:21  @import\a   public/assets/sass/style.scss 27:9                      root stylesheet";
}
