@mixin triangle($color: $color-white, $size: $font-size-global) {
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        bottom: $size * -1;
        left: calc(50% - #{$size});
    }
}