html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(9, 32, 72);
}

div {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    margin: 100px;
    background-color: rgb(31, 78, 121);
}

h1 {
    color: rgb(255, 255, 240);
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
}

p {
    color: rgb(200, 200, 200);
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(228, 177, 52);
    color: rgb(255, 255, 240);
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 200px;
}
/* 
.couleur1 {
    background-color: rgb(7,7,7);
} */
/* 
.couleur2 {
    background-color: rgb(255, 255, 240);
} */
/* 
.couleur3 {
    background-color: rgb(228, 177, 52);
} */

/* .couleur4 {
    background-color: rgb(31, 78, 121);
} */
/* 
.couleur5 {
    background-color: rgb(124, 215, 164);
} */
/* 
.couleur6 {
    background-color: rgb(12, 31, 38);
} */

/* .couleur7 {
    background-color: rgb(10, 31, 68);
} */