%policeSpan {  // déclaration extension avec %
    p{
       span {
           color: $color-primary;
           &:hover {
               font-size: 10px;
               text-decoration: underline;
           }
       }
   }
}