section {
    margin: 20px auto;
    width: 80%;
    max-width: $breakpoint-large;
    padding: 20px;
    border-radius: $border-rad * 2;
    border-top: 1px solid $color-tertiary;
    border-left: 1px solid $color-tertiary;
    background: $color-secondary;
    backdrop-filter: blur-filter(20px);
}