form {
    margin-bottom: 50px;
    padding: 20px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-radius: 12px;
    background: $color-primary-gradient;

    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);

    table {
        margin: 15px auto;
        
        td {
            padding: 10px;
            width: 350px;
            vertical-align: top;
            color: $color-font-dark;
        }

        td[colspan] {
            text-align: center;

            label {
                text-align: left;
                display: block;
                margin: 10px 10px 10px 160px;
            }
        }

        td:first-child:not(:only-child) {
            text-align: right;
        }
    }

}

form input[type=text], form input[type=email], form input[type=date], form input[type=password], form input[type=file], form textarea, form select {
    width: 350px;
    padding: 5px;
    border: 1px solid $color-btn-danger;
    background: transparent;
    border-radius: 12px;
    outline: none;
    font-size: 1em;

    &:focus {
        box-shadow: $box-shadow-red; /* Ajoutez l'ombre lorsqu'en focus */
    }

    &:invalid {
        border: 2px dashed $color-btn-danger;
    }
    
    &:valid {
        border: 2px solid $color-btn;
    }
}

textarea {
    font-size: 1em;
    border-radius: 12px;
    resize: none;
    outline: none;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    height: auto;
}